 --extra-index-url https://packages.dea.ga.gov.au/
aiohttp
aiobotocore[boto3,awscli]==1.0.7
pyyaml
wget
requests
datacube==1.9.0
odc-stac
odc-stats
odc-dscache
odc-cloud[ASYNC]
odc-ui==0.2.0a0  # to fix widgets issues
odc-io
odc-apps-dc-tools==0.2.18
dask==2023.10.1
distributed==2023.10.1
# Jupyter components.
gdal
scipy
# jupyter==1.0.0
jupyterlab==3.2.0
ipyleaflet
folium
pandas==1.3.4
numpy==1.26.4
xarray==0.16.0
matplotlib
geopandas
scikit-image
tqdm
click<8.1.0
python-dateutil==2.7.5
sat-search
netCDF4

# for tests
pytest
testbook

# for Dask dashboard
bokeh  # !=3.0.*,>=2.4.2

# for planetary computer
planetary-computer

# fix "KeyError: 'proj:epsg'"
pystac==1.12.0

rioxarray

jupyterlab_widgets==1.1.1
ipywidgets==7.7.5

minio
