--extra-index-url https://packages.dea.ga.gov.au/

# Core dependencies
aiohttp
aiobotocore[boto3,awscli]
click
dask
datacube>=1.8.15
distributed
# gdal # provided by base image
geopandas
matplotlib
netCDF4
# numpy # provided by base image
odc-apps-dc-tools
odc-cloud[ASYNC]
odc-dscache
odc-io
odc-stac
odc-stats
odc-ui # fix widgets issues
pandas
planetary-computer
pystac>=1.6.0 # fix "KeyError: 'proj:epsg'"
python-dateutil
pyyaml
requests
rioxarray
scikit-image
scipy
tqdm
wget
xarray

# Jupyter components
dask-labextension
folium
ipyleaflet
ipywidgets
# jupyter==1.0.0
jupyter-server-proxy
jupyterlab
jupyterlab_widgets
jupyterhub==5.4.3

# Testing
pytest
testbook

# Dask dashboard
bokeh
