 --extra-index-url https://packages.dea.ga.gov.au/
aiohttp
aiobotocore[boto3,awscli]
pyyaml
wget
requests
datacube>=1.8.15
odc-stac
odc-stats
odc-dscache
odc-cloud[ASYNC]
odc-ui  # to fix widgets issues
odc-io
odc-apps-dc-tools
dask
distributed
# Jupyter components.
# gdal is provided by base image
scipy
# jupyter==1.0.0
jupyterlab
ipyleaflet
folium
pandas
# numpy  # Provided by base image
xarray
matplotlib
geopandas
scikit-image
tqdm
click
python-dateutil
netCDF4

# for tests
pytest
testbook

# for Dask dashboard
bokeh

# for planetary computer
planetary-computer

# fix "KeyError: 'proj:epsg'"
pystac>=1.6.0

rioxarray

jupyterlab_widgets
ipywidgets

jupyter-server-proxy
dask-labextension
